# Core
numpy
opencv-python
torch
tqdm

# Visualization
matplotlib

# Optional for ORB-SLAM3 integration
pyyaml

# Models (MiDaS, RAFT, LightGlue, etc.)
einops
kornia
scikit-image
requests
timm
gdown

# Optional for segmentation and model download
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
